.sortBtns > button {
  width: 200px;
  height: 40px;
  color: black;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.sortBtns > button {
  /* background: rgb(6, 14, 131); */
  background: linear-gradient(
    0deg,
    rgb(140, 223, 246) 0%,
    rgb(93, 235, 250) 100%
  );
  border: none;
}
.sortBtns > button:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(
    0deg,
    rgb(69, 243, 243) 0%,
    rgb(2, 247, 251) 100%
  );
  border: 2px solid aqua;
}
