<!-- <div class="auth-box">

    <div class="login">
        <h2>
            Login Page
        </h2>
        <label for="email">Email</label>
        <input type="email" id="email" ng-model="login_email"><br>
        <label for="password">Password</label>
        <input type="password" id="password" ng-model="login_password">
        <br>
        <br>
        <br>
        <br>
        <a ng-href="#/signup">new user</a>
        <br>
        <button ng-click="login()">Login</button>
    </div>
</div>
</div> -->

<!-- <div class="login"> -->

<div class="login-box">
    <h2>Login</h2>

    <div class="user-box">
        <input type="email" ng-model="login_email">
        <label>Email</label>
    </div>
    <div class="user-box">
        <input type="password" ng-model="login_password">
        <label>Password</label>
    </div>
    <button ng-click="login()">
        <!-- <a href="#"> -->
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Login
        <!-- </a> -->
    </button>
    <br>
    <div class="red-data">{{failure_text}}</div>
    <a ng-href="#/signup">new user</a>
</div>

<!-- </div> -->