<!-- <div>{{name}}</div> -->
<!-- <li ng-repeat="x in all_products">{{x}}</li> -->
<div class="products">
    <div>
        <nav>
            <ul>
                <li>
                    <a ng-href="#/home">HOME</a>
                </li>
                <li>
                    <a ng-href="#/products">PRODUCTS</a>
                </li>
                <li>
                    <a href="#/fav">FAVOURITES</a>
                </li>
                <li>
                    <a href="#/profile">PROFILE</a>
                </li>
                <li class="sortBtns">
                    <button ng-click="logout()">
                            LOGOUT
                    </button>
                </li>
            </ul>
    
        </nav>

        <div class="products">

            <div class="product-card">
                <div class="single-product" ng-click="sendSingleProduct(x)">
                    <span class="card-tag">{{prod.category}}</span>
                    <div class="card-header" style="background-color: white;">
                        <img src={{prod.image}} alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="product-title">{{prod.title}}</h4>
                        <p class="product-status">{{prod.description}}</p>
                        <h3 class="product-rating">Ratings: {{prod.rating.rate}}</h3>
                        <h3 class="product-price">{{prod.price}}Rs</h3>
                    </div>
                </div>

                <div class="card-footer">
                    <!-- <button class="btn btn-secondary">
                        Save
                    </button> -->
                    <button ng-if="isThereInFav(prod)" ng-click="removeFromFav(prod)" class="btn btn-primary" style="background-color: red;">
                        Remove Fav
                    </button>
                    <button ng-if="!isThereInFav(prod)" ng-click="addToFav(prod)" class="btn btn-primary">
                        Add to Fav
                    </button>
                </div>
            </div>

            <!-- <div class="product">
                <div class="product-image">
                    <img src="{{curr_product.image}}" alt="">
                </div>
                <div class="product-name">
                    <b>
                        {{curr_product.title}}
                    </b>
                </div>
                <div class="product-price">
                    <i>
                        {{curr_product.price}}
                    </i>
                </div>
                <div class="product-description">
                    {{curr_product.description}}
                </div>
                <div class="product-category">
                    <i>
                        {{curr_product.category}}
                    </i>
                </div>
                <div class="product-rating">
                    Rating: {{curr_product.rating.rate}}
                </div>
                <div class="product-fav">
                    
                    <button ng-if="isThereInFav(curr_product)" ng-click="removeFromFav(curr_product)">Remove Fav</button>
                    <button ng-if="!isThereInFav(curr_product)" ng-click="addToFav(curr_product)">Add to Fav</button>
                </div>
            </div>  -->
        </div>
    </div>
</div>