<div class="products">

    <div>
        <nav>
            <ul>
                <li>
                    <a ng-href="#/home">HOME</a>
                </li>
                <li>
                    <a ng-href="#/products">PRODUCTS</a>
                </li>
                <li>
                    <a href="#/fav">FAVOURITES</a>
                </li>
                <li>
                    <a href="#/profile">PROFILE</a>
                </li>
                <li class="sortBtns">
                    <button ng-click="logout()">
                            LOGOUT
                    </button>
                </li>
            </ul>

        </nav>
        <!-- <div class="nav">
            <ul>
                <li><a ng-href="#/home">Home</a></li>
                <li><a ng-href="#/products">Products</a></li>
                <li><a ng-href="#/fav">Favourites</a></li>
                <li><a ng-href="#/profile">Profile</a></li>
                <li><a ng-href="#/logout">Logout</a></li>
            </ul>
        </div> -->
        <div class="categoriesSort">
            <select name="" id="" ng-change="findByCategory(category)" ng-model="category">
                <option value="all">All</option>
                <option value="electronics">Electronics</option>
                <option value="jewelery">Jewelery</option>
                <option value="men's clothing">Men's Clothing</option>
                <option value="women's clothing">Women's Clothing</option>
            </select>
        </div>
        <div class="sortBtns">
            <button ng-click="sortPriceInc()">sort by price: lowest</button>
            <button ng-click="sortPriceDec()">sort by price: highest</button>
            <button ng-click="sortRatingInc()">sort by rating: lowest</button>
            <button ng-click="sortRatingDec()">sort by rating: highest</button>
        </div>
        <div class="products">
            <div class="product-card" ng-repeat="x in dashboard_all_products">
                <div class="single-product" ng-click="sendSingleProduct(x)">
                    <span class="card-tag">{{x.category}}</span>
                    <div class="card-header" style="background-color: white;">
                        <img src={{x.image}} alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="product-title">{{x.title}}</h4>
                        <p class="product-status">{{x.description}}</p>
                        <h3 class="product-rating">Ratings: {{x.rating.rate}}</h3>
                        <h3 class="product-price">{{x.price}}Rs</h3>
                    </div>
                </div>

                <div class="card-footer">
                    <!-- <button class="btn btn-secondary">
                        Save
                    </button> -->
                    <button ng-if="isThereInFav(x)" ng-click="removeFromFav(x)" class="btn btn-primary"
                        style="background-color: red;">
                        Remove Fav
                    </button>
                    <button ng-if="!isThereInFav(x)" ng-click="addToFav(x)" class="btn btn-primary">
                        Add to Fav
                    </button>
                </div>
            </div>

            <!-- <div class="product " ng-repeat="x in dashboard_all_products">
                <div ng-click="sendSingleProduct(x)">
                    <div class="product-image">
                        <img src="{{x.image}}" alt="">
                    </div>
                    <div class="product-name">
                        <b>
                            {{x.title}}
                        </b>
                    </div>
                    <div class="product-price">
                        <i>
                            {{x.price}}
                        </i>
                    </div>
                    <div class="product-description">
                        {{x.description}}
                    </div>
                    <div class="product-category">
                        <i>
                            {{x.category}}
                        </i>
                    </div>
                    <div class="product-rating">
                        Rating: {{x.rating.rate}}
                    </div>
                </div>
                <div class="product-fav">
                    <button ng-if="isThereInFav(x)" ng-click="removeFromFav(x)">Remove Fav</button>
                    <button ng-if="!isThereInFav(x)" ng-click="addToFav(x)">Add to Fav</button>
                </div>
            </div> -->
        </div>
    </div>
</div>