<div class="produc">
    <div>

        <nav>
            <ul>
                <li>
                    <a ng-href="#/home">HOME</a>
                </li>
                <li>
                    <a ng-href="#/products">PRODUCTS</a>
                </li>
                <li>
                    <a href="#/fav">FAVOURITES</a>
                </li>
                <li>
                    <a href="#/profile">PROFILE</a>
                </li>
                <li class="sortBtns">
                    <button ng-click="logout()">
                            LOGOUT
                    </button>
                </li>
            </ul>
    
        </nav>

        <div class="login-box">
            <h2>Update Profile</h2>
        
            <div class="user-box">
                <input type="text" ng-model="profile_user.name">
                <label>Name</label>
            </div>
            <div class="user-box">
                <input type="email" ng-model="profile_user.email">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" ng-model="profile_user.password">
                <label>Password</label>
            </div>
            <button ng-click="update_profile_user(profile_user)">
                <!-- <a href="#"> -->
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Update
                <!-- </a> -->
            </button>
            <br>
            <!-- <div class="red-data">{{failure_text}}</div> -->
            <!-- <a ng-href="#/signup">new user</a> -->
        </div>
        <!-- <div class="auth-box">
            <div>
                <h1>Profile</h1>

                <label for="name">Name</label>
                <input type="text" id="name" ng-model="profile_user.name"><br>
                <label for="email">email</label>
                <input type="email" id="email" ng-model="profile_user.email"><br>
                <label for="password">Password</label>
                <input type="password" id="password" ng-model="profile_user.password">
                <br>
                <button ng-click="update_profile_user(profile_user)">Update</button>
            </div>
        </div> -->
    </div>
</div>