<!-- <div class="auth-box">
    <div class="signup">
        <h2>
            Registration Page
        </h2>
        <label for="name">Name</label>
        <input type="text" id="name" ng-model="$parent.reg_name"><br>
        <label for="email">email</label>
        <input type="email" id="email" ng-model="$parent.reg_email"><br>
        <label for="password">Password</label>
        <input type="password" id="password" ng-model="$parent.reg_password">
        <br>
        <button ng-click="register()"><a ng-href="#/login">Register</a></button>
    </div>
</div> -->



<div class="login-box">
    <h2>Signup</h2>

    <div class="user-box">
        <input type="text" ng-model="reg_name">
        <label>Name</label>
    </div>
    <div class="user-box">
        <input type="email" ng-model="reg_email">
        <label>Email</label>
    </div>
    <div class="user-box">
        <input type="password" ng-model="reg_password">
        <label>Password</label>
    </div>
    <button ng-click="register()">
        <a href="#" ng-href="#/login">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
        </a>
    </button>
</div>